### Write a program to convert a set of documents into tf-idf vectors

In [26]:
# Text collection: direction paths
import glob, re, os, nltk, math, string, collections, numpy
path = os.getcwd() #得到當前工作路徑 絕對
direc = glob.glob(path+"\IRTM\*.txt") #將該資料夾下所有檔案路徑回傳 #list

In [27]:
def atoi(text):
    return int(text) if text.isdigit() else text

def natural_keys(text):
    return [ atoi(c) for c in re.split('(\d+)', text) ]

direc.sort(key=natural_keys)
#direc #這段到最後一天才發現有錯誤，文件順序跟最後寫的不同 #這一段參考資料來源: https://stackoverflow.com/questions/5967500/how-to-correctly-sort-a-string-with-a-number-inside

##### 1. Construct a dictionary based on the terms extracted from the given documents
* Record the document frequency of each term
* Save your dictionary as a txt file (dictionary.txt)

In [28]:
def tokenize(x): # x = file_path
    f = open(x, 'r')
    f = f.read()
    f = f.lower()
    f = f.replace('\n', '')
    f = f.replace('"', '')
    f = f.replace('\'', '')
    f = f.replace(',', '')
    f = f.replace('.', '')
    f = f.replace('?', '')
    f = f.replace('`', '')
    f = f.replace(';', '')
    f = f.replace(':', '')
    f = f.replace('(', '')
    f = f.replace(')', '')
    f = f.replace('_', '')
    f = f.replace('$', '')
    f = f.replace('-', '')
    f = f.replace('@', '')
    f = f.replace('%', '')
    f = f.replace('&amp', '')
    f = re.sub('\d', '', f)
    f = re.sub(r'\b\w\b', ' ', f) # 剔除一個字的
    f = re.sub(r'\b\w{2}\b', ' ', f) # 剔除兩個字的 i'm --> im --> x
    #f = re.sub(r'\b(http)(\\)(\w)\b', ' ', f) #把 url 刪掉, 後來覺得網址應該也是重要的，不用刪
    
    f = f.split() #以空白鍵分隔英文字
    
    #stemming
    from nltk.stem.porter import PorterStemmer
    pt = PorterStemmer()
    f1 = []
    for a in range(len(f)):
        f1.append(pt.stem(f[a]))
    
    #製作stopwordlist
    from nltk.corpus import stopwords
    stopwords_list = stopwords.words('english')
    #remove stopwords
    result = []
    for n in range(len(f1)):
        if f1[n] not in stopwords_list:
            result.append(f1[n])
    cnt = collections.Counter()
    for word in result:
        cnt[word] += 1
    return cnt

In [29]:
df = []
for a in range(len(direc)):
    df = df+list(tokenize(direc[a])) # count document term in collecitions
    cnt = collections.Counter()
    for word in df:
        cnt[word] += 1

In [30]:
dictionary = cnt.most_common()
len(dictionary)

13424

In [31]:
d1 = dict()
for a in range(len(dictionary)):
    d1.update({a+1: list(dictionary[a])})
import pandas as pd
import numpy as np
df = pd.DataFrame.from_dict(d1, orient='index')
df = df.rename(index=str, columns={0: 'term', 1:'df'})
df.index = np.arange(1, len(df) + 1)
df['t_index'] = df.index
df = df[['t_index', 'term', 'df']]
df

       t_index            term   df
1            1              wa  892
2            2              ha  753
3            3            said  729
4            4              hi  663
5            5             thi  626
6            6             say  593
7            7             one  590
8            8           state  570
9            9             two  569
10          10          presid  547
11          11            last  503
12          12            year  501
13          13          offici  496
14          14           would  493
15          15           peopl  483
16          16            time  478
17          17            also  477
18          18             day  460
19          19           first  433
20          20            kill  431
21          21         countri  411
22          22             new  401
23          23          report  401
24          24           could  391
25          25           befor  391
26          26            week  376
27          27            unit  375
28          28           still  370
29          29            forc  365
30          30           offic  364
...        ...             ...  ...
13395    13395       clarkston    1
13396    13396         afflict    1
13397    13397       breaking!    1
13398    13398          ritesh    1
13399    13399           desai    1
13400    13400             vap    1
13401    13401          namast    1
13402    13402            dina    1
13403    13403  indianamerican    1
13404    13404           tilak    1
13405    13405    ratnalaswami    1
13406    13406          basset    1
13407    13407            mohm    1
13408    13408       almegrahi    1
13409    13409        scottish    1
13410    13410         megrahi    1
13411    13411            amin    1
13412    13412          fhimah    1
13413    13413       unsatisfi    1
13414    13414         moammar    1
13415    13415         gadhafi    1
13416    13416             vex    1
13417    13417         tripoli    1
13418    13418         pursuit    1
13419    13419           devis    1
13420    13420         homicid    1
13421    13421            barr    1
13422    13422     ladeninspir    1
13423    13423       stateless    1
13424    13424      discothequ    1

[13424 rows x 3 columns]

In [32]:
df.to_csv(path+"\dictionary.txt", header=None, index=None, sep='\t', mode='w')

##### 2. Transfer each document into a tf-idf unit vector
* Save it as a txt file (DocID.txt)

In [33]:
def transfer_doc_to_tfidf(file_path):
    # 把字典dictionary 讀進來，只需要1,2欄
    dic = pd.read_csv('dictionary.txt', sep = '\t', header = None, usecols = [1,2])
    dic = dic.rename(index=str, columns={1: 'term', 2:'df'}) #命名
    
    # 用字典來比對，字典包含文件x，則取出文件x的df
    doc_df = dic.loc[dic['term'].isin(list(tokenize(file_path)))] 
    doc_df = doc_df.reset_index()
    doc_df = doc_df.rename(index=str, columns={'index': 't_index'}) #命名
    
    # 計算idf, 輸入文件總數, df
    def idf_calculator(len_direc, doc_freq):
        idf = math.log10(len_direc/doc_freq)
        return idf
    idf = []
    for a in range(len(doc_df)):
            idf.append(idf_calculator(len(direc), doc_df.iloc[a]['df']))
    doc_df['idf'] = idf # 新增idf 這欄，以上面計算好的idf list 加上
    doc_df = doc_df.sort_values(by=['term'], ascending = True) # 以字順排序
    
    tf = tokenize(file_path).most_common()
    doc_tf = []
    for a in range(len(tf)):
        doc_tf.append(list(tf[a])) # 把tuple轉成 list
    doc_tf = pd.DataFrame(doc_tf) # 再轉成 dataframe
    doc_tf = doc_tf.rename(index=str, columns={0: 'term', 1:'tf'}) # 命名
    doc_tf = doc_tf.sort_values(by=['term'], ascending = True) # 以字順排序
    doc_df['tf'] = list(doc_tf['tf']) # 把 tf加上去 原本doc_df
    doc_df['tf_idf'] = doc_df.idf*doc_df.tf # 新增 tf_idf欄位，兩欄相乘
    
    #再補一個length normalize
    doc_df['Norm_tf_idf'] = doc_df.tf_idf/((sum(doc_df.tf_idf**2))**0.5)

    doc_df = doc_df.sort_values(by=['Norm_tf_idf'], ascending = False) # 以Norm_tf_idf大小排序，大到小
    
    return doc_df

In [34]:
# trytry看
transfer_doc_to_tfidf(direc[0])
#.to_csv(path+"\Doc001.txt", header=True, index=None, sep='\t', mode='w', columns=['t_index','Norm_tf_idf'])

    t_index        term   df       idf  tf    tf_idf  Norm_tf_idf
51      291     milosev  134  0.912309   6  5.473856     0.300925
66      461     belgrad  100  1.039414   5  5.197071     0.285709
75      555      strike   85  1.109995   4  4.439981     0.244088
121    2918      maceda   11  1.998021   2  3.996043     0.219683
40      176     opposit  186  0.769901   5  3.849506     0.211627
102    1173    tomorrow   41  1.426630   2  2.853261     0.156858
93      947         jim   51  1.331844   2  2.663688     0.146436
85      759       regim   64  1.233234   2  2.466468     0.135594
84      748         nbc   65  1.226501   2  2.453002     0.134854
129    4839    blackout    4  2.437354   1  2.437354     0.133994
81      667       radio   72  1.182082   2  2.364163     0.129970
127    4358     twohour    5  2.340444   1  2.340444     0.128666
128    4359        tast    5  2.340444   1  2.340444     0.128666
78      656     pressur   74  1.170182   2  2.340365     0.128662
125    3990      poorli    6  2.261263   1  2.261263     0.124313
126    3991      shrink    6  2.261263   1  2.261263     0.124313
124    3989     stoppag    6  2.261263   1  2.261263     0.124313
74      551      serbia   86  1.104916   2  2.209831     0.121486
18       45        work  317  0.538355   4  2.153419     0.118384
123    3438         rid    8  2.136324   1  2.136324     0.117444
122    3437      wealth    8  2.136324   1  2.136324     0.117444
120    2650         jam   13  1.925471   1  1.925471     0.105853
119    2535    disobedi   14  1.893286   1  1.893286     0.104083
56      327    slobodan  126  0.939044   2  1.878087     0.103248
118    2215   roadblock   17  1.808965   1  1.808965     0.099448
117    2058      reserv   19  1.760661   1  1.760661     0.096792
116    1991      combin   20  1.738384   1  1.738384     0.095568
115    1990      purpos   20  1.738384   1  1.738384     0.095568
112    1935   nationwid   21  1.717195   1  1.717195     0.094403
113    1936      gestur   21  1.717195   1  1.717195     0.094403
..      ...         ...  ...       ...  ..       ...          ...
36      134        dont  207  0.723444   1  0.723444     0.039771
35      125    question  213  0.711035   1  0.711035     0.039089
7        14       peopl  483  0.355467   2  0.710934     0.039084
34      111  presidenti  220  0.696991   1  0.696991     0.038317
32      108        hope  224  0.689166   1  0.689166     0.037887
31       99        well  234  0.670198   1  0.670198     0.036844
30       91        four  240  0.659203   1  0.659203     0.036240
29       83       close  252  0.638014   1  0.638014     0.035075
28       80       month  261  0.622774   1  0.622774     0.034237
25       73         may  268  0.611279   1  0.611279     0.033605
24       69        veri  275  0.600081   1  0.600081     0.032989
23       63         get  283  0.587628   1  0.587628     0.032305
22       58        hous  293  0.572546   1  0.572546     0.031476
21       57       elect  298  0.565198   1  0.565198     0.031072
20       56      leader  300  0.562293   1  0.562293     0.030912
2         5         say  593  0.266359   2  0.532719     0.029286
17       44       power  323  0.530212   1  0.530212     0.029148
16       43         tri  324  0.528869   1  0.528869     0.029075
15       36        news  346  0.500338   1  0.500338     0.027506
14       33        onli  348  0.497835   1  0.497835     0.027368
1         4         thi  626  0.242840   2  0.485680     0.026700
13       30        call  363  0.479507   1  0.479507     0.026361
11       25        week  376  0.464226   1  0.464226     0.025521
10       21         new  401  0.436270   1  0.436270     0.023984
9        16        also  477  0.360896   1  0.360896     0.019840
6        11        year  501  0.339576   1  0.339576     0.018668
5        10        last  503  0.337846   1  0.337846     0.018573
4         9      presid  547  0.301427   1  0.301427     0.016571
3         6         one  590  0.268562   1  0.268562     0.014764
0         1          ha  753  0.162619   1  0.162619     0.008940

[130 rows x 7 columns]

In [35]:
for a in range(len(direc)):
    #補一個 文件 term 總數在開頭
    term_num = len(tokenize(direc[a]).most_common()) #This document has "term_num" terms.
    f = open(path+"\Doc"+str(a+1)+".txt", 'w')
    f.write('This document has ' + str(term_num) + ' terms. ' + '\n')

In [36]:
for a in range(len(direc)):
    transfer_doc_to_tfidf(direc[a]).to_csv(path+"\Doc"+str(a+1)+".txt", header=True, index=None, sep='\t', mode='a', columns=['t_index','term', 'Norm_tf_idf'])
    #mode = 'a' 往文件後面加上; sep = '\t' 以tab分隔

##### 3. Write a function cosine(Docx, Docy) which loads the tf-idf vectors of documents x and y and returns their cosine similarity

In [37]:
def cosin_sim(docx,docy): #輸入兩file_path
    # 首先把兩個檔讀進來 fx跟fy
    fa = pd.read_csv(docx, sep = '\t', header = 'infer', skiprows=1, usecols=[0,1,2])
    fb = pd.read_csv(docy, sep = '\t', header = 'infer', skiprows=1, usecols=[0,1,2])
    # 找到兩個都存在的term，另存成fm, fn
    fm = fb[fb['t_index'].isin(fa['t_index'])]
    fn = fa[fa['t_index'].isin(fb['t_index'])]
    # 依照t_index排序
    fm = fm.sort_values(by=['t_index'], ascending = True)
    fn = fn.sort_values(by=['t_index'], ascending = True)
    # 把t_index設成index, 如此才不會無法兩相對應
    fm = fm.set_index(['t_index'])
    fn = fn.set_index(['t_index'])
    # 新增一欄x, 把fm, fn兩個tf_idf相乘
    fm['x'] = fm.Norm_tf_idf*fn.Norm_tf_idf
    # 把上述欄相加，就是內積的結果
    cosin = sum(fm.x) 
    return cosin

In [38]:
cosin_sim('Doc1.txt', 'Doc2.txt')

0.2005967118514036

#### Please zip and submit
    1. your dictionary
    2. the vector file of document1
    3. source code
    4. a report to TA